.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px
}

.lilyImage {
  height: 75vh;
  border-radius: 20px;
}

.container p {
  font-size: 35px;
  margin: 50px;
  width: 50vw;
  color: gray;
  font-weight: 700;
  padding: 20px;
}

@media only screen and (max-width: 1024px) {
  .container p {
    font-size: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .container p {
    font-size: 25px;
  }
}

@media only screen and (max-width: 425px) {
  .container {
    flex-direction: column;
    margin: 0px;
  }

  .container p {
    font-size: 15px;
    margin: 20px 0 20px 0;
    width: 75vw;
  }
}

@media only screen and (max-width: 320px) {
  .lilyImage{
    height: 50vh;
  }

  .container p {
    font-size: 13px;
  }
}