.content{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactDetails{
  font-size: 25px;
  font-weight: 600;
  color: gray;
  margin-left: 30px;
}

.contactDetails p {
 margin-bottom: 20px;
}

.contactDetails ul li {
  list-style-type: none;
}

.formContainer {
  margin: 20px 100px;
  border: 2px solid gray;
  border-radius: 20px;
  padding: 20px;
  max-width: 750px;
  justify-self: auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15),
    0px 4px 8px rgba(0, 0, 0, 0.15),
    0px 8px 16px rgba(0, 0, 0, 0.15),
    0px 16px 32px rgba(0, 0, 0, 0.15);
}

.flexDisplay {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px){
  .content{
    flex-direction: column;
  }

  .contactDetails{
    margin-bottom: 10px;
  }
}

@media (max-width: 425px) {
  .contactDetails{
    font-size: 15px;
  }
  
  .formContainer{
    margin: 20px;
  }
}