.content {
  display: flex;
  margin-top: 60px;
}

.container {
  width: 50%;
}

.container h1 {
  text-align: center;
  font-weight: 900;
  font-size: 50px;
}

.container p {
  color: gray;
  padding: 10px;
  font-size: 25px;
  margin: 10px 30px 40px 30px;
  font-weight: 700;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-dialog {
  width: 500px;
}

.modal-content {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
}



/* Stack elements on mobile */
@media only screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  
  .container {
    width: 100%;
  }
}

/* Display elements side by side on larger screens */
@media only screen and (min-width: 769px) {
  .content {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .container {
    width: 45%;
  }
}