.background{
  background-color: aqua;
  padding: 5px;
  width: 90%;
  height: auto;
  justify-content: center;
  position: relative;
  margin: auto;
  border-radius: 5px;
  background-color: #bdbdbd;
}

.slider{
  background-color: #ebedf3;
  top: 50%;
  border-radius: 5px;
  border-width: thick;
  border-color: green;
}

.slider Image{
  display: flex;
}