.trueHeader {
  display: flex;
  transform: translateY(+10%);
  background-color: #e4ecec;
  height: 100%;
}

.headerTitle {
  color: #737373;
  margin-left: auto;
  padding-right: 15px;
  font-weight: 700;
}